{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "pkgstatus.html" as pkgstatus %}

{% block styles %}
{{super()}}
{# <link rel="stylesheet" href="//cdn.datatables.net/1.10.6/css/jquery.dataTables.min.css"></link> #}
<link rel="stylesheet" href="//cdn.datatables.net/responsive/1.0.5/css/dataTables.responsive.css"></link>
<link rel="stylesheet" href="//cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.css"></link>
<link rel="stylesheet" href="{{url_for('.static', filename='pkgstatus.css')}}"></link>
{% endblock %}

{% block content %}
{{super()}}
{% if request.path != "/" -%}
<a href="{{ url_for('index') }}" title="Main Index"><span class="glyphicon glyphicon-home"></span></a>
{%- endif %}
{% endblock %}

{% block head %}
{{super()}}
{{JSGlue.include()}}
{{fixes.ie8()}}
<script src="{{ url_for('servers_js') }}" type="text/javascript"></script>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="//cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/responsive/1.0.5/js/dataTables.responsive.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='pkgstatus.js') }}"></script>
{% endblock %}
