{% extends "base.html" %}
{% import "pkgstatus.html" as pkgstatus %}

{% block content %}
{{super()}}
<div class="container">

  <div class="d-flex mb-2">
    <div class="font-weight-bold pr-2" style="min-width: 120px;"><strong>Build:</strong></div>
    <div>{{ pkgstatus.linkbuild(build) }}</div>
  </div>
  <div class="d-flex mb-2">
    <div class="font-weight-bold pr-2" style="min-width: 120px;"><strong>Server:</strong></div>
    <div>{{ pkgstatus.linkserver(build) }}</div>
  </div>
  <div class="d-flex mb-2">
    <div class="font-weight-bold pr-2" style="min-width: 120px;"><strong>Status:</strong></div>
    <div>{{ build.status }}</div>
  </div>
  <div class="d-flex mb-2">
    <div class="font-weight-bold pr-2" style="min-width: 120px;"><strong>Jail:</strong></div>
    <div>{{ pkgstatus.linkjail(build) }}</div>
  </div>
  <div class="d-flex mb-2">
    <div class="font-weight-bold pr-2" style="min-width: 120px;"><strong>Set:</strong></div>
    <div>{{ pkgstatus.linkset(build.setname) }}</div>
  </div>
  <div class="d-flex mb-2">
    <div class="font-weight-bold pr-2" style="min-width: 120px;"><strong>Ports Tree:</strong></div>
    <div>{{ build.ptname }}</div>
  </div>
  <div class="d-flex mb-2">
    <div class="font-weight-bold pr-2" style="min-width: 120px;"><strong>Build type:</strong></div>
    <div>{{ pkgstatus.linktype(build.type) }}</div>
  </div>
  <div class="d-flex mb-2">
    <div class="font-weight-bold pr-2" style="min-width: 120px;"><strong>Stime time:</strong></div>
    <div>{{ (build.started) | datetime }}</div>
  </div>
  <div class="d-flex mb-2">
    <div class="font-weight-bold pr-2" style="min-width: 120px;"><strong>Elapsed:</strong></div>
    <div>{{ build.snap.elapsed | duration }}</div>
  </div>
  <div class="d-flex mb-2">
    <div class="font-weight-bold pr-2" style="min-width: 120px;"><strong>SVN:</strong></div>
    <div>{{ build.svn_url }}</div>
  </div>

<div>
  <table class="table">
    <thead>
      <tr>
        <th>Stat</th>
        <th>Current</th>
        <th>New</th>
      </tr>
    </thead>
    <tbody>
      {% for stat in ["built", "failed", "skipped", "ignored"] -%}
      <tr>
        <th class="{{ stat }}">{{ stat|capitalize }}</th>
        <td id="stat_{{ stat }}">{{ build.stats[stat] }}</td>
        <td id="stat_new_{{ stat }}">
          {% if build.new_stats and build.new_stats[stat] -%}
          {{ build.new_stats[stat] }}
          {%- endif %}
        </td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>

  {% if build.new_stats -%}
  Compared to the <a href="{{ url_for('build', buildid=build.previous_id) }}">previous build</a>
  {% for stat in ["failed", "skipped", "ignored"] -%}
  {% if build.new_stats[stat] -%}
  <h2 id="new_{{ stat }}">New {{ stat|capitalize }}</h2>
  <table class="table display compact text-nowrap"
    data-datatable-html="true" id="table_new_{{ stat }}" width="100%">
    <thead>
      <tr>
        <th>Package</th>
        <th>Origin</th>
        {% if stat == "failed" -%}
        <th>Phase</th>
        {%- endif %}
        {% if stat == "skipped" or stat == "ignored" -%}
        <th>Reason</th>
        {%- else -%}
        <th>Log</th>
        {%- endif %}
      </tr>
    </thead>
    <tbody>
      {% for origin in ports.new[stat] -%}
        <tr>
          <td>{{ ports.pkgnames[origin] }}</td>
          <td>{{ pkgstatus.linkorigin(origin, build) }}</td>
          {% if stat == "failed" -%}
          <td>{{ ports[stat][origin].phase }}</td>
          {%- endif %}
          {% if stat == "skipped" -%}
          <td>{{ ports[stat][origin].depends }}</td>
          {%- else -%}
            {% if stat == "built" -%}
            {% set reason="success" %}
            {% elif stat == "ignored" -%}
            {% set reason=ports[stat][origin].reason %}
            {% elif stat == "failed" %}
            {% set reason=ports[stat][origin].errortype %}
            {%- endif %}
            <td data-order="{{ reason }}">
              {{ pkgstatus.linklog(build, reason, ports.pkgnames[origin]) }}
            </td>
          {%- endif %}
        </tr>
      {%- endfor %}
    </tbody>
  </table>
  {%- endif %}
  {%- endfor %}
  {%- endif %}
</div>
</div>
{% endblock %}
