{% extends "base.html" %}

{% block content %}
{{super()}}
<div class="container">
{% if filter['latest'] %}
Only displaying latest matching builds.
{% endif %}
{% for build_type, builds in builds|groupby('type') %}
<div class="container">
  <h1>{{ pkgstatus.linktype(build_type) }} Builds</h1>

  {{ pkgstatus.print_filter(filter, type=build_type) }}

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Set</th>
        <th>Ports</th>
        <th>Jail</th>
        <th>Build</th>
        <th class="queued">Queued</th>
        <th class="built">Built</th>
        <th class="failed">Failed</th>
        <th class="skipped">Skipped</th>
        <th class="ignored">Ignored</th>
        <th class="remaining">Remaining</th>
        <th>Status</th>
        <th>Started (UTC)</th>
        <th>Elapsed</th>
        <th>Server</th>
      </tr>
    </thead>
    <tbody>
    {% for build in builds %}
      <tr id="{{ build._id }}">
        <td><a href="#{{ build._id }}">#</a></td>
        <td>{{ pkgstatus.linkset(build.setname) }}</td>
        <td>{{ build.ptname }}</td>
        <td>{{ pkgstatus.linkjail(build, servers) }}</td>
        <td>{{ pkgstatus.linkbuild(build, servers) }}</td>
        <td>{{ build.stats.queued }}</td>
        {% for stat in ["built", "failed", "skipped", "ignored"] %}
        <td>{{ build.stats[stat] }}
          {%- if build.new_stats and build.new_stats[stat] -%}
          &nbsp;<a href="{{ url_for('build', buildid=build._id) }}">(+{{ build.new_stats[stat] }})</a>
          {%- endif -%}
        </td>
        {% endfor %}
        <td>{{ build.stats.remaining }}</td>
        <td>{{ build.status }}</td>
        <td>{{ (build.snap.now - build.snap.elapsed) | datetime }}</td>
        <td>{{ build.snap.elapsed|duration }}</td>
        <td>{{ pkgstatus.linkserver(build, servers) }}</td>
      </tr>
    {%- endfor -%}
    </tbody>
  </table>
</div>
{% endfor %}
</div>
{% endblock %}
