{% extends "base.html" %}

{% block content %}
{{super()}}
<div class="container">
<div>
  <dl class="dl-horizontal">
    <dt>Build</dt>
    <dd id="buildname">{{ pkgstatus.linkbuild(build, servers) }}</dd>
    <dt>Server</dt>
    <dd id="server">{{ pkgstatus.linkserver(build, servers) }}</dd>
    <dt>Status</dt>
    <dd id="status">{{ build.status }}</dd>
    <dt>Jail</dt>
    <dd id="jail">{{ pkgstatus.linkjail(build, servers) }}</dd>
    <dt>Set</dt>
    <dd id="setname">{{ pkgstatus.linkset(build.setname) }}</dd>
    <dt>Ports Tree</dt>
    <dd id="ptname">{{ build.ptname }}</dd>
    <dt>Build type</dt>
    <dd id="build_type">{{ pkgstatus.linktype(build.type) }}</dd>
    <dt>Start time</dt>
    <dd id="start_time">{{ (build.snap.now - build.snap.elapsed) | datetime }}</dd>
    <dt>Elapsed</dt>
    <dd id="elapsed">{{ build.snap.elapsed | duration }}</dd>
    <dt>SVN</dt>
    <dd id="svn_url">{{ build.svn_url }}</dd>
  </dl>
</div>

<div>
  <table class="table">
    <thead>
      <tr>
        <th>Stat</th>
        <th>Current</th>
        <th>New</th>
      </tr>
    </thead>
    <tbody>
      {% for stat in ["built", "failed", "skipped", "ignored"] -%}
      <tr>
        <th class="{{ stat }}">{{ stat|capitalize }}</th>
        <td id="stat_{{ stat }}">{{ build.stats[stat] }}</td>
        <td id="stat_new_{{ stat }}">
          {% if build.new_stats and build.new_stats[stat] -%}
          {{ build.new_stats[stat] }}
          {%- endif %}
        </td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>

  {% if build.new_stats -%}
  Compared to the <a href="{{ url_for('build', buildid=build.previous_id) }}">previous build</a>
  {% for stat in ["failed", "skipped", "ignored"] -%}
  {% if build.new_stats[stat] -%}
  <h2 id="new_{{ stat }}">New {{ stat|capitalize }}</h2>
  <table class="table display compact text-nowrap"
    data-datatable="true" id="table_new_{{ stat }}" width="100%">
    <thead>
      <tr>
        <th>Package</th>
        <th>Origin</th>
        {% if stat == "failed" -%}
        <th>Phase</th>
        <th>Skipped</th>
        {%- endif %}
        {% if stat == "skipped" or stat == "ignored" -%}
        <th>Reason</th>
        {%- else %}
        <th>Log</th>
        {%- endif %}
      </tr>
    </thead>
    <tbody>
      {% for origin in ports.new[stat] -%}
        <tr>
          <td>{{ ports.pkgnames[origin] }}</td>
          <td>{{ pkgstatus.linkorigin(origin) }}</td>
          {% if stat == "failed" -%}
          <td>{{ ports[stat][origin].phase }}</td>
          <td></td>
          {%- endif %}
          {% if stat == "skipped" -%}
          <td>{{ ports[stat][origin].depends }}</td>
          {%- else -%}
            {% if stat == "built" -%}
            {% set reason="success" %}
            {% elif stat == "ignored" -%}
            {% set reason=ports[stat][origin].reason %}
            {% elif stat == "failed" %}
            {% set reason=ports[stat][origin].errortype %}
            {%- endif %}
            <td data-order="{{ reason }}">
              {{ pkgstatus.linklog(build, servers, reason, ports.pkgnames[origin]) }}
            </td>
          {%- endif %}
        </tr>
      {%- endfor %}
    </tbody>
  </table>
  {%- endif %}
  {%- endfor %}
  {%- endif %}
</div>
</div>
{% endblock %}
