{% extends "base.html" %}
{% import "pkgstatus.html" as pkgstatus %}

{% block content %}
{{super()}}
<div class="container-fluid">
{% if filter['latest'] %}
Only displaying latest matching builds.
<a href="javascript:window.location.href=window.location.href + ((window.location.href.indexOf('?') == -1) ? '?' : '&') + 'all=1'">View all</a>
{% else %}
Viewing all matching builds.
{% if not filter['buildname'] %}
<a href="javascript:window.location.href=window.location.href.replace('&all=1', '').replace('?all=1&', '?').replace('?all=1', '')">View latest only</a>
{% endif %}
{% endif %}
{% for build_type, builds in builds|groupby('type') %}
<div>
  <h1>{{ pkgstatus.linktype(build_type) }} Builds</h1>

  {{ pkgstatus.print_filter(filter, type=build_type) }}

  <table class="table display compact text-nowrap"
    data-datatable="true" data-dt-url="{{ url_for('api_builds', type=build_type ) }}&amp;{{ filter_qs|safe }}" data-dt-datasrc="builds" id="table_{{ build_type }}" width="100%">
    <thead>
      <tr>
        <th data-dt-col="setname" data-dt-col-formatter="linkset">Set</th>
        <th data-dt-col="ptname">Ports</th>
        <th data-dt-col="jailname" data-dt-col-formatter="linkjail">Jail</th>
        <th data-dt-col="buildname" data-dt-col-formatter="linkbuild">Build</th>
        <th data-dt-col="stats.queued" data-dt-col-formatter="stats" data-dt-col-type="numeric" class="queued" title="Queued" data-toggle="tooltip" data-container="body">Queued</th>
        <th data-dt-col="stats.built" data-dt-col-formatter="stats" data-dt-col-type="numeric" class="built" title="Built" data-toggle="tooltip" data-container="body">Built</th>
        <th data-dt-col="stats.failed" data-dt-col-formatter="stats" data-dt-col-type="numeric" class="failed" title="Failed" data-toggle="tooltip" data-container="body">Failed</th>
        <th data-dt-col="stats.skipped" data-dt-col-formatter="stats" data-dt-col-type="numeric" class="skipped" title="Skipped" data-toggle="tooltip" data-container="body">Skipped</th>
        <th data-dt-col="stats.ignored" data-dt-col-formatter="stats" data-dt-col-type="numeric" class="ignored" title="Ignored" data-toggle="tooltip" data-container="body">Ignored</th>
        <th data-dt-col="stats.remaining" data-dt-col-formatter="stats" data-dt-col-type="numeric" class="remaining" title="Remaining" data-toggle="tooltip" data-container="body">Remaining</th>
        <th data-dt-col="status">Status</th>
        <th data-dt-col="started" data-dt-col-formatter="datetime" data-dt-col-type="numeric">Started (UTC)</th>
        <th data-dt-col="snap.elapsed" data-dt-col-formatter="duration" data-dt-col-type="numeric">Elapsed</th>
        <th data-dt-col="server" data-dt-col-formatter="linkserver">Server</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
{% endfor %}
</div>
{% endblock %}
