{% macro poudriere_icon() -%}
<img src="{{ url_for('static', filename='poudriere.png') }}">
{%- endmacro %}

{% macro filter_icon() -%}
<span class="glyphicon glyphicon-filter"></span>
{%- endmacro %}

{% macro print_filter(filter, type=None) -%}
<dl class="dl-horizontal">
  <dt>Query Filter</dt>
  <dd></dd>
  {% for item in filter -%}
  {% if item != 'type' -%}
  <dt>{{ item|capitalize }}</dt>
  <dd>{{ filter[item] }}</dd>
  {%- endif %}
  {%- endfor %}
  {% if type -%}
  <dt>Type</dt>
  <dd>{{ type }}</dd>
  {%- elif filter['type'] -%}
  <dt>Type</dt>
  <dd>{{ filter['type'] }}</dd>
  {%- endif %}
</dl>
{%- endmacro %}

{% macro linkset(setname) -%}
{% if setname == "" -%}
{% set setname="default" %}
{%- endif %}
<a data-toggle="tooltip" title="All builds matching set {{ setname }}" href="{{ url_for('builds', setname=setname) }}"><span class="glyphicon glyphicon-filter"></span></a>
{% if setname[:2].upper() == "PR" and setname[2:].isdigit() %}
{% set link="http://bugs.FreeBSD.org/" + setname[2:] %}
{% elif setname[:1].upper() == "D" and setname[1:].isdigit() %}
{% set link="http://reviews.FreeBSD.org/" + setname %}
{% endif %}
{% if link %}
<a data-toggle="tooltip" title="Related issue" href="{{ link }}"><span class="glyphicon glyphicon-share-alt"></span></a>
{% endif %}
{{ setname }}
{%- endmacro %}

{% macro linkbuild(build, servers) -%}
<a data-toggle="tooltip" title="All builds matching buildname {{ build.buildname }}" href="{{ url_for('builds', buildname=build.buildname) }}">{{ filter_icon() }}</a>
{{ linkpoudrierebuild(build, servers) }}
<a data-toggle="tooltip" title"Build {{ build._id }}" href="{{ url_for('build', buildid=build._id)}}">{{ build.buildname }}</a>
{%- endmacro %}

{% macro local_log_base(build) -%}
/logs/{{ build.server }}/{{ build.mastername }}/{{ build.buildname }}
{%- endmacro %}

{% macro linkpoudrierebuild(build, servers) -%}
<a target="_new" data-toggle="tooltip" title="Poudriere Build"
{% if build['have_logs'] %}
href="{{ local_log_base(build) }}"
{% else %}
href="http://{{ servers[build.server].host }}/build.html?mastername={{ build.mastername }}&amp;build={{ build.buildname }}"
{% endif %}
>{{ poudriere_icon() }}</a>
{%- endmacro %}

{% macro linkjail(build, servers) -%}
<a data-toggle="tooltip" title="All builds matching jail {{ build.jailname }}" href="{{ url_for('builds', jailname=build.jailname) }}">{{ filter_icon() }}</a>
<a target="_new" data-toggle="tooltip" title="Poudriere Jail" href="http://{{ servers[build.server].host }}/jail.html?mastername={{ build.mastername }}">{{ poudriere_icon() }}</a>
{{ build.jailname }}
{%- endmacro %}

{% macro linkserver(build, servers) -%}
<a data-toggle="tooltip" title="All builds matching server {{ build.server }}" href="{{ url_for('builds', server=build.server) }}">{{ filter_icon() }}</a>
<a target="_new" data-toggle="tooltip" title="Poudriere Server" href="http://{{ servers[build.server].host }}/">{{ poudriere_icon() }}</a>
{{ build.server }}
{%- endmacro %}

{% macro linktype(build_type) -%}
<a data-toggle="tooltip" title="All builds matching type {{ build_type }}" href="{{ url_for('builds', type=build_type) }}">{{ filter_icon() }}</a>
{{ build_type|capitalize }}
{%- endmacro %}

{% macro linklog(build, servers, text, pkgname) -%}
<a target="_new" data-toggle="tooltip" title="Build Log for {{ pkgname }}"
{% if build['have_logs'] %}
  href="{{ local_log_base(build) }}/logs/{{ pkgname }}.log"
{% else %}
  href="http://{{ servers[build.server].host }}/data/{{ build.mastername }}/{{ build.buildname }}/logs/{{ pkgname }}.log"
{% endif %}
><span class="glyphicon glyphicon-file"></span>{{ text }}</a>
{%- endmacro %}

{% macro linkorigin(origin) -%}
<a target="_new" data-toggle="tooltip" title="Portsmon for {{ origin }}" href="http://portsmon.freebsd.org/portoverview.py?category={{ origin.split('/')[0] }}&amp;portname={{ origin.split('/')[1] }}"><span class="glyphicon glyphicon-tasks"></span>{{ origin }}</a>
{%- endmacro %}
