{% macro poudriere_icon() -%}
<img src="{{ url_for('static', filename='poudriere.png') }}">
{%- endmacro %}

{% macro filter_icon() -%}
<span class="bi bi-funnel-fill"></span>
{%- endmacro %}

{% macro print_filter(filter, type=None) -%}
<div class="filter-section">
  <i class="bi bi-filter-circle" style="margin-right: 5px;"></i>
  {% for item in filter -%}
  {% if item != 'type' -%}
    <strong>{{ item|capitalize }}:</strong> {{ filter[item] }}&nbsp;
  {% endif %}
  {% endfor %}
  {% if type -%}
    <strong>Type:</strong> {{ type }}
  {% elif filter['type'] -%}
    <strong>Type:</strong> {{ filter['type'] }}
  {% endif %}
</div>
{%- endmacro %}

{% macro linkset(setname) -%}
{% if not setname or setname == "" -%}
{% set setname="default" %}
{%- endif %}
<a data-bs-toggle="tooltip" title="All builds matching set {{ setname }}" href="{{ url_for('builds', setname=setname) }}"><span class="bi bi-funnel-fill"></span></a>
{% if setname[:2].upper() == "PR" and setname[2:].isdigit() %}
{% set link="http://bugs.FreeBSD.org/" + setname[2:] %}
{% elif setname[:1].upper() == "D" and setname[1:].isdigit() %}
{% set link="http://reviews.FreeBSD.org/" + setname %}
{% endif %}
{% if link %}
<a data-bs-toggle="tooltip" title="Related issue" href="{{ link }}"><span class="bi-box-arrow-up-right"></span></a>
{% endif %}
{{ setname }}
{%- endmacro %}

{% macro linkbuild(build, servers) -%}
<a data-bs-toggle="tooltip" title="All builds matching buildname {{ build.buildname }}" href="{{ url_for('builds', buildname=build.buildname) }}">{{ filter_icon() }}</a>
{{ linkpoudrierebuild(build, servers) }}
<a data-bs-toggle="tooltip" title="Build {{ build._id }}" href="{{ url_for('build', buildid=build._id) }}">{{ build.buildname }}</a>
{%- endmacro %}

{% macro local_log_base(build) -%}
/logs/{{ build.server }}/{{ build.mastername }}/{{ build.buildname }}
{%- endmacro %}

{% macro linkpoudrierebuild(build, servers) -%}
<a target="_new" data-bs-toggle="tooltip" title="Poudriere Build"
{% if build['have_logs'] %}
href="{{ local_log_base(build) }}"
{% else %}
href="{{ url_for('poudriere', server=build.server, uri='build.html', mastername=build.mastername, build=build.buildname) }}"
{% endif %}
>{{ poudriere_icon() }}</a>
{%- endmacro %}

{% macro linkjail(build, servers) -%}
<a data-bs-toggle="tooltip" title="All builds matching jail {{ build.jailname }}" href="{{ url_for('builds', jailname=build.jailname) }}">{{ filter_icon() }}</a>
<a target="_new" data-bs-toggle="tooltip" title="Poudriere Jail" href="{{ url_for('poudriere', server=build.server, uri='jail.html', mastername=build.mastername) }}">{{ poudriere_icon() }}</a>
{{ build.jailname }}
{%- endmacro %}

{% macro linkserver(build, servers) -%}
<a data-bs-toggle="tooltip" title="All builds matching server {{ build.server }}" href="{{ url_for('builds', server=build.server) }}">{{ filter_icon() }}</a>
<a target="_new" data-bs-toggle="tooltip" title="Poudriere Server" href="{{ url_for('poudriere', server=build.server) }}">{{ poudriere_icon() }}</a>
{{ build.server }}
{%- endmacro %}

{% macro linktype(build_type) -%}
<a data-bs-toggle="tooltip" title="All builds matching type {{ build_type }}" href="{{ url_for('builds', type=build_type) }}">{{ filter_icon() }}</a>
{{ build_type|capitalize }}
{%- endmacro %}

{% macro linklog(build, servers, text, pkgname) -%}
<a target="_new" data-bs-toggle="tooltip" title="Build Log for {{ pkgname }}"
{% if build['have_logs'] %}
  href="{{ local_log_base(build) }}/logs/{{ pkgname }}.log"
{% else %}
  href="{{ url_for('poudriere', server=build.server,
  uri="data/{}/{}/logs/{}.log".format(build.mastername, build.buildname, pkgname)) }}"
{% endif %}
><span class="bi bi-file-earmark"></span>{{ text }}</a>
{%- endmacro %}

{% macro linkorigin(origin, build) -%}
<a target="_new" data-bs-toggle="tooltip" title="Port skeleton of {{ origin }}@{{ build.buildname }}" href="https://cgit.freebsd.org/ports/tree/{{ origin }}?id={{ build.buildname }}"><span class="bi bi-list-task"></span>{{ origin }}</a>
{%- endmacro %}
